body {
  font-family: 'PT Sans', 'Ubuntu', sans-serif;
  background-image: linear-gradient(to bottom right, #6699FF, #FF99FF);
  font-size: 1.2rem;
  font-weight: 600;
}

#prof-name{
  font-weight: bold;
}
#profile > img {
  width: 20%;
}

#profile > h2 {
  font-size: 1.5rem;
}

#profile{
  margin-top: 1rem;
  padding: 1rem;
}

#project {
  margin-bottom: 1.2rem;
  padding: 1rem;
}

#my-links > a > i{
  padding: 0.4rem;
}

#acc-info{
  padding-bottom: 1rem;
}

#project > div > img{
  border: 2px solid black;
}
#send:hover {
  background-color: #ffb3ff;
  color: black;
  font-size: 1.5rem;
}

#profile > img:hover {
  width: 40%;
}